@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    string userId = "";
    if (SignInManager.IsSignedIn(User))
    {
        userId = @UserManager.GetUserId(User);
    }
}

@if (SignInManager.IsSignedIn(User))
{
<div class="sidebar-container">
    <div class="sidebar-logo sidebar-custom">
        Project Support
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="Index">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
            </a>
        </li>
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
        {
        <li>
            <a asp-area="" asp-controller="Manager" asp-action="Index">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
            </a>
        </li>
        }
        <li class="header">Actions Menu</li>
        <li>
            <a asp-area="" asp-controller="Gantt" asp-action="Index" asp-route-id=@UserManager.GetUserId(User)>
                <i class="fa fa-users" aria-hidden="true"></i> Projects
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Chat" asp-action="SeeUsers" asp-route-id=@UserManager.GetUserId(User)>
                <i class="fa fa-comment" aria-hidden="true"></i> Chats
            </a>
        </li>
    </ul>
</div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom border-bottom box-shadow mb-3 fixed-top">
            <a class="navbar-brand d-none d-md-flex input-group w-auto my-auto" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" width="45" height="30">
                Project Support
            </a>
            <div class="container">
                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
                    </form>
                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <p class="text-white d-none d-md-flex input-group w-auto my-auto">
                            Hello @UserManager.GetUserName(User)!
                        </p>
                    </a>
                    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="padding-right:0px">
                        <div style="align-self: center;">
                            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                            {
                                <img style="width:40px;height:40px;margin-right:5px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                            }
                        </div>
                    </a>
                    <p class="hidden" style="font-size:16px;color:orange" id="notificationCounter"></p>
                    <a class=""
                       asp-action="Index" asp-controller="Notifications" asp-route-id="@UserManager.GetUserId(User)">
                        <i class="fas fa-bell" style="font-size:24px;color:orange"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/usernotification.js"></script>
    <script>
         function getNotifications() {
            $.ajax({

            url: '/getNotifications/@userId',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                console.log(error.message);
            },
            success: function(data) {
                if (data.length > 0) {
                    document.getElementById("notificationCounter").classList.remove("hidden");
                    document.getElementById("notificationCounter").innerHTML = data.length;
                } else {
                    document.getElementById("notificationCounter").classList.add("hidden");
                }
            }
        });
        return false;
        }

        getNotifications();
        connectToNotificationHub('@userId');
    </script>
    <input type="hidden" id="signalRConnectionId" />
}

