@{
    ViewBag.Title = "Not Found";
}

<div class="container child2">
    <div class="content-container">
        <div class="container-fluid">

            <h1>@ViewBag.ErrorMessage</h1>

            <a asp-action="Index" asp-controller="Home">
                Click here to navigate to the home page
            </a>

        </div>
    </div>
</div>