@model ProjectSupport.ViewModels.CreateProjectViewModel

@{
    ViewBag.Title = "Create New Project";
}

<div class="container child2">
    <div class="content-container">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Create New Project</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group">
                            <input asp-for="ProjectName" class="form-control w-25" />
                            <button type="submit" class="btn btn-primary" style="margin-left:20px">Add New Project</button>
                        </div>
                    </form>


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.Projects)
                            {
                                <tr>
                                    <td>@project.Name</td>
                                    <td>@project.Description</td>
                                    <td style="padding-left: 15px">
                                        <a class="btn"
                                           asp-action="DeleteProject" asp-controller="Admin" asp-route-id="@project.Id">
                                            <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary"
                       asp-action="Index" asp-controller="Admin">
                        Back to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


