@model ProjectSupport.Areas.Identity.Data.AppUser

@{
    ViewBag.Title = "Delete User";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">
            <img class="text-center" src="~/img/Remove.svg" style="padding-left:50px">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Are you sure you want to delete this user?</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h4 class="card-title">@Model.Email</h4>
                    </p>
                    <img src="~/img/warning.svg">
                    <h3 class="text-danger">WARNING!</h3>
                    <div class="text-danger">Deleting a User will also remove him from all existing Projects and Tasks.</div>
                </div>
                <div class="card-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UserName)
                        <input type="submit" value="Delete User" class="btn btn-primary" />
                        <a class="btn btn-primary"
                           asp-action="EditUsers" asp-controller="Admin">
                            Back to List
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>