@page

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">
            <div class="text-center">
                <h2>Your account has been confirmed succesfully</h2>
                <br />
                <img src="~/img/ConfirmedEmail.svg" style="height:600px; width:600px">
                <br />
                <br />
                <h4>Go to Homepage</h4>
                <br />
                <div>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id=@UserManager.GetUserId(User)>
                        <i class="fas fa-arrow-left" style="font-size:25px; color:white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>