@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form method="post">
    <div class="text-center">
        <img src="~/img/reset.jpg" width="100" height="100" />
        <h5>Forgot Password</h5>
        <p>Enter your e-mail and we'll send you a link to reset your password</p>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder="Your e-mail address" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="row">
        &nbsp
    </div>
    <button type="submit" class="btn btn-primary btn-demo">Submit</button>
    <div class="row">
        &nbsp
    </div>
    <div class="text-center">
        <h6>Back to <a type="text/asp" href='/Identity/Account/Login'>Sign In</a></h6>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
