@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="text-center">
    <img src="~/img/reset.jpg" width="100" height="100" />
    <div class="row">
        &nbsp
    </div>
    <p>
        Your password has been reset
    </p>
    <hr />
    <div class="text-center">
        <h6>Back to <a type="text/asp" href='/Identity/Account/Login'>Sign In</a></h6>
    </div>
</div>
